* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
sup {
    vertical-align: text-top !important;
    font-size: smaller;
}

.col1 {
    width: 160px;
    margin: 10px 15px;
}
.col2 {
    width: 160px;
    margin: 10px 15px;
}

$main-color: #52a4b8;
.container {
    width: 400px;
    height: 600px;
    margin: 50px auto;
    background-color: $main-color;
}
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 40px;
    i {
        color: white;
    }
    .search-bar-input {
        width: 200px;
        margin-left: 10px;
        background-color: $main-color;

        border: none;
        border-bottom: 2px solid #fff;
        outline: none;

        white-space: nowrap;
        caret-color: #fff;
        color: white;
        font-size: 16px;
    }
    .search-bar-input::placeholder {
        // font-weight: bold;
        opacity: 0.7;
        color: white;
    }
}
.main-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 20px;
    .country {
        margin: 10px;
        font-size: 30px;
        color: white;
    }
    .describe-weather {
        margin: 5px 10px 15px;
        font-size: 16px;
        color: white;
        text-transform: capitalize;
    }
    .temp-infor {
        width: 300px;
        height: 200px;
        padding-left: 65px;
        padding-top: 57px;
        background-color: rgba($color: #fff, $alpha: 0.5);
        font-size: 50px;
        font-weight: 600;
        color: white;
        .temp {
            padding-left: 10px;
            font-size: 50px;
            color: white;
        }
    }
}

.desc-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 40px;

    color: white;
    .sunUp {
        font-weight: bold;
    }
    .sunDown {
        font-weight: bold;
    }
    .humidity {
        font-weight: bold;
    }
    .wind {
        font-weight: bold;
    }
}
